* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: lightblue;
}

.cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    border-radius: 3px;
    padding: 45px;
}

.card {
    padding: 15px;
    border: 1px solid grey;
    box-shadow: 3px 3px 3px rgba(0, 0, 128, 0.5);
}

.modal-outer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    /* Hide the Modal */
    opacity: 0;
    pointer-events: none;
}

.modal-inner {
    background-color: #fff;
    min-width: 200px;
    max-width: 400px;
    min-height: 200px;
    padding: 1rem;
    border-radius: 2px;
    margin: 20px auto;
    transform: translateY(-200%);
    transition: transform 1s;
}

.modal-outer.open {
    opacity: 1;
    pointer-events: all;
}

.modal-inner img {
    width: 100%;
}


/* When the .modal-outer has the class '.open' apply the below CSS to .modal-inner */

.modal-outer.open .modal-inner {
    transform: translateY(0);
}