.tabs {
    display: grid;
}

[role="tablist"] {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
}

[role="tabpanel"] {
    background: var(--yellow);
    padding: 2rem;
}

button {
    background: var(--grey);
    border: 0;
    color: black;
    border-radius: 5px 5px 0 0;
    --bs-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -2px 5px var(--bs-color);
    cursor: pointer;
    padding: 20px;
    width: 300px;
}

button[aria-selected="true"] {
    background: var(--yellow);
    box-shadow: none;
    color: rgba(0, 0, 0, 0.7);
}

button:focus {
    outline: 0;
    --bs-color: rgba(0, 0, 0, 0.6);
}